DEPLOY_MODELE_BERT/fine_tuned_model_runpod_distillbert/*
APPDJANGO_DEPLOY_BERT/WebApp_Bert/Deploy_Modele_Bert/static/Deploy_Modele_Bert/fine_tuned_model_runpod_distillbert/*


# Fichier a ignorer dans l'application react
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/node_modules/*
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.pnp
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.pnp.js
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/coverage

# misc
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.DS_Store
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.env.local
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.env.development.local
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.env.test.local
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/*.env.production.local

APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/npm-debug.log*
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/yarn-debug.log*
APPDJANGO_DEPLOY_BERT/WebApp_Bert/codification/yarn-error.log*

# Ignorer les fichiers de cache Python
__pycache__/

# Ignorer les fichiers de cache Python dans le répertoire de migrations
APPDJANGO_DEPLOY_BERT/WebApp_Bert/Deploy_Modele_Bert/migrations/__pycache__/
APPDJANGO_DEPLOY_BERT/WebApp_Bert/Deploy_Modele_Bert/__pycache__/

