body {
    background-color: #f9f8f8;
    padding: 50px;
    overflow-x: hidden;
}
.custom-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}
.btn-upload {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
.title {
    color: rgb(230, 133, 6);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container {

    margin-top: 250px;
    margin-left: 230px;
    
}


.h2 {
    font-size: 35px;
    position: absolute;
    top: 110px;
    left: 460px;
    text-align: center;
    font-weight: bold;
   
}

.pr{

    position: relative;
    top: -60px;
    left: 180px;
}

.nb {
    font-size: 24px ;
    position: absolute;
    top: 175px;
    left: 300px;
    color: rgb(81, 81, 81);

}

.nb1{

    font-size: 24px ;
    position: absolute;
    top: 205px;
    left: 250px;
    color: rgb(81, 81, 81);
}

.btn2{

    position: absolute;
    top: 40%;
    left: 40%;
    width: 300px; /* Ajustez la largeur selon vos besoins */
    height: 70px;
    background-color: orange; /* Couleur de fond orange */
    color: white; /* Couleur du texte en blanc pour un meilleur contraste */
    padding: 10px; /* Ajoutez un espace autour du texte */
    border: none; /* Supprimez la bordure par défaut du bouton */
    text-align: center; /* Centrez le texte dans le bouton */
    text-decoration: none; /* Supprimez la décoration du texte (comme le soulignement) */
    display: inline-block; /* Assurez-vous que le bouton se comporte comme un élément en ligne */
    font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
    border-radius: 5px; /* Ajoutez des coins arrondis */
    cursor: pointer;
    font-weight: bold ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}


