<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loading page</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/footer.css' %}">
   
    <!-- Style pour le Header -->
</head>
<body>
    <header class="header header-shadow">
        <nav class="nv1">
            <a class="brand" href="https://ins.ci/" title="INS_CAE">
                <img src="{% static img_path %}" alt="INS_CAE"  class = "logo_ins"/>
            </a>
            <h1 class="h1">Transformez vos fichiers de codage</h1>
            <div class="db">DataLab</div>
        </nav>
    </header>
    <h2 class="h2">Chargez le fichier .CSV avec le Libellé</h2>
    <div class="pr">
    <span class="nb">La transformation est très facile et rapide !</span>
    <span class="nb1">Prenez la peine de vérifier la structure de votre fichier.</span>
    </div>
    <div class="container">
        <div class="custom-form">
            <div class="title">SELECTIONNER LE FICHIER</div>
            <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Fichier:</label>
                    {% csrf_token %}
                    <input type="file"  class="form-control-file" id="file" name="file" accept=".csv">
                </div>
                <button type="submit" class="btn btn-upload" value="Predict">Transformer</button>
            </form>
        </div>
    </div>

  
    <!-- Le contenu de votre page ici -->

    <div class="footer">
        <div class="footer__copy">
            &copy; INS 2023 &reg; - Codification
        </div>
    </div>
</body>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
