<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loading page</title>
    <!-- Link to Bootstrap CSS -->
    <!-- Ajoutez ceci dans le <head> de votre fichier HTML -->

    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Deploy_Modele_Bert/style_css/download_style.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    
   
    <!-- Style pour le Header -->
</head>
<body>
    <header class="header header-shadow">
        <nav class="nv1">
            <a class="brand" href="https://ins.ci/" title="INS_CAE">
                <img src="{% static img_path %}" alt="INS_CAE"  class = "logo_ins"/>
            </a>
            <h1 class="h1">Transformer vos fichiers de codage</h1>
            <div class="db">DataLab</div>
        </nav>
    </header>
    <h2 id ="h2" class="h2">Charger le fichier .CSV avec le Libellé</h2>
    <div id="pr" class="pr">
    <span id="nb" class="nb">La transformation est très facile et rapide !</span>
    <span id="nb1" class="nb1">Prenez la peine de vérifier la structure de votre fichier.</span>
    </div>
    <button id="openModalBtn" class="btn2">Sélectionner les fichiers CSV</button>
      <div id="myModal" class="modal">
        <div  class="container">
            <div class="custom-form">
             <span class="close" id="closeModalBtn">&times;</span>
                <div class="title">SELECTIONNER LE FICHIER</div>
                    <div class="form-group">
                    
                       <label for="file" enctype = "multipart/form-data" class="uform" >Fichier:</label>
                       {% csrf_token %}
                       <input type="file"  class="form-control-file" id="file" name="file">
                    </div>
                <button id="btnt" class="btn btn-upload submit" value="submit">Transformer</button> 
           
            </div>
        </div>
  </div>
  
  <div style="position: relative;">
    <div class="spinner-border text-primary" role="status" id="loading-spinner" style="position: absolute;left: 695px;top: 237px;">
        <span class="visually-hidden"></span>
    </div>
    <span id="tnc" style="position: absolute; bottom: -300px; left: 50%; transform: translateX(-50%);font-size: 25px;">Traitement en cours...</span>
</div>
    <!-- Le contenu de votre page ici -->

    <div class="footer">
        <div class="footer__copy">
            &copy; INS 2023 &reg; - Codification
        </div>
    </div>
</body>

<script>
  const predictUrl = "{% url 'predict' %}";    
  const downloadUrl = "{% url 'download_transformed_csv' %}";
  const downloadPageUrl = '{% url "download_page" %}'
</script>
    <script src="{% static 'Deploy_Modele_Bert/scripts/send_file.js' %}"></script>
    <script src="{% static 'Deploy_Modele_Bert/scripts/modal.js' %}"></script>
    <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
